<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header'); %>
</head>
<body>
  <main class="root-main">
    <h1>Welcome</h1>
    <p class="bigger">This is my ultra cool, ultra secure website that you will never hack into!</p>
    <a href="/signup" class="link-button">Click here to sign up!</a>
    <a href="/signin">Sign in</a>
  </main>
</body>
</html>